<h1>Ahoj svet!</h1>
<p><a href="#clenovia">My</a> sme študenti <a href="http://www.fmph.uniba.sk" title="Fakulta matematiky, fyziky a informatiky Univerzity Komenského v Bratislave">FMFI UK</a> a vyvíjame a prevádzkujeme softvér (prevažne s otvoreným zdrojovým kódom), ktorý nám, ostatným študentom i&nbsp;ďalším ľuďom z fakulty a univerzity uľahčuje život. Baví nás to a ešte sa sa popri tom naučíme veľa nových vecí.</p>
<p style="text-align: right">
<a href="#chcem-sa-pridat" class="primary button">Chcem sa pridať do tímu &raquo;</a>
</p>

