<footer id="footer" class="row">
    <div class="large-12 columns">
    {% include back-to-top.html %}

    <nav class="bottom-bar" role="navigation">
        {% include primary-nav-items.html %}
    </nav>
    <p>
    &copy; {{ site.name }} 2011-2013<br />
    web: <a href="http://svt.fmph.uniba.sk">http://svt.fmph.uniba.sk</a><br />
    email: <a href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
    GitHub: <a href="https://github.com/fmfi-svt/">https://github.com/fmfi-svt</a><br />
    </p>
  </div>
</footer>

