<section id="clenovia">
    <h1>Členovia</h1>
    {% include back-to-top.html %}
    <div class="row">
        <div class="large-6 columns">
            <h2>Súčasní</h2>
            <ul>
                <li>Tomáš Belan</li>
                <li>Jakub Marek</li>
                <li>Dušan Plavák</li>
                <li>Peter Šulík</li>
                <li>Martin Šuník</li>
                <li>Jakub Trančík</li>
                <li>Kristián Valentín</li>
                <li>Tomáš Vinař</li>
            </ul>
            <h2>Alumni</h2>
            <ul>
                <li>Fero Hajnovič</li>
                <li>Martin Králik</li>
                <li>Jakub Markoš</li>
                <li>Peter Perešíni</li>
                <li>Martin Sucha</li>
                <li>Ivan Trančík</li>
            </ul>
        </div>
        <div id="chcem-sa-pridat" class="large-6 columns">
            <h2>Chceš sa pridať?</h2>
            <p><a href="mailto:{{ site.email }}">Kontaktuj nás</a> alebo vyplň <a href="https://docs.google.com/spreadsheet/embeddedform?formkey=dDhyT19SdW1RWE9vMzJEZ2NRdTk2MlE6MQ">náborový formulár</a>.</p>
            <h3>Koho hľadáme?</h3>
            <p>Hľadáme zodpovedných, šikovných a kreatívných ľudí, najmä na <q>pozície</q>:</p>
            <ul>
                <li>programátor (PHP, Python, Java, C++)</li>
                <li>grafik (webové stránky, plagáty)</li>
                <li>správca serverov</li>
                <li>multimédiá – audio, video</li>
                <li>elektronické PR/webmaster – facebook, blog, novinky</li>
                <li>programátor pre mobilné platformy (Android, iOS)</li>
                <li>prekladateľ (do angličtiny)</li>
            </ul>
            <h3>Čo ponúkame?</h3>
            <ul>
                <li>prácu na zaujímavých projektoch (materiál na ročníkový projekt, záverečnú prácu, atď.)</li>
                <li><a href="{% post_url 2013-08-11-ako-vyvijame %}">moderný spôsob vývoja softvéru</a></li>
                <li>priestor na prácu v ŠVT lab-e</li>
                <li>skúsenosti s prácou v tíme</li>
                <li>inšpiratívny kolektív :)</li>
            </ul>
        </div>
    </div>
</section>

