<section id="projekty">
    <h1>Projekty</h1>
    {% include back-to-top.html %}
    <div class="row">
        <div class="project large-4 columns">
            <h2><a href="/projekty/studentska-anketa.html">Študentská anketa</a></h2>
            <p>Webová aplikácia na získania hodnotení predmetov od študentov.</p>
            <p><a href="https://anketa.fmph.uniba.sk" class="small button secondary">https://anketa.fmph.uniba.sk</a></p>
        </div>
        <div class="project large-4 columns">
            <h2>Rozvrhy Candle</h2>
            <img src="{{ site.url }}/assets/candle.png" width="80" height="64" alt="logo Candle"/>
            <p>Prehľadný interaktívny rozvrh hodín vo forme webovej aplikácie.</p>
            <p><a href="https://candle.fmph.uniba.sk" class="small button secondary">https://candle.fmph.uniba.sk</a></p>
        </div>
        <div class="project large-4 columns">
            <h2><img src="{{ site.url }}/assets/fajr.png" width="32" height="32" alt="logo Candle"/> FAJR</h2>
            <p>Alternatívny frontend na AIS &ndash; prihlasuj sa na skúšky a prezeraj svoje predmety jedným klikom.</p>
            <p><a href="https://fajr.fmph.uniba.sk" class="small button secondary">https://fajr.fmph.uniba.sk</a></p>
        </div>
    </div>
    <div class="row">
        <div class="project large-4 columns">
            <h2>Testovač pre Praf UK</h2>
            <p>Testovač použitý pre prijímacie skúšky Právnickej fakulty UK.
            </p>
            <p><a href="http://prijimacky.flaw.uniba.sk/demo/" class="small button secondary">http://prijimacky.flaw.uniba.sk/demo/</a></p>
        </div>
        <div class="project large-4 columns">
            <h2>{Tvoj projekt}</h2>
            <p>Sme otvorení novým nápadom na zaujímavé a užitočné projekty.</p>
            <p><a href="#chcem-sa-pridat" class="button button-primary">Mám nápad na projekt &raquo;</a></p>
        </div>
        <div class="project large-4 columns">
            <h2>Ďalšie projekty</h2>
            <p>Ďalšie projekty nájdeš na <a href="https://github.com/fmfi-svt">GitHub stránke ŠVT</a>.</p>
        </div>
    </div>
</section>

